/* Stile generale*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family:  'Montserrat', sans-serif;
    background-color: red;
    font-size: 15px;
}

/* Stile main*/
.container-main{
    height: calc(100vh - 100px);
    background-color: aqua;
    display: flex;
    
}
/* Stile navbar */
.navbar{
    width: 250px;
    background-color: black;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: gray;
}

#logo{
    width: 60%;
    margin-bottom: 20px;
}

#logo-small{
    display: none;
}

ul{
    list-style-type: none;
}

#menu li{
    display: flex;
    align-items: center;
    gap: 5px;
}

li{
    margin-bottom: 15px; 
}

.playlist i{
    background-color: gray;
    color: black;
    font-size: 30px;
}

.playlist b{
    margin-bottom: 10px;
    display: block;
}

.playlist li {
  display: flex;
  align-items: center;
  gap: 10px;
}

ul img{
    width: 20px;
}

.down-navbar{
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
}

.down-navbar div {
    display: flex;
    align-items: center;
    gap: 10px;
    
}

hr{
    margin: 15px 0;
}

#download{
    width: 20px;
}

#profile{
    width: 30px;
    background-color: gray;
    border-radius: 20px;
}

b, #white{
    color: white;
}
/* Stile Cta*/
.cta {
    height: 80px;
    width: calc(100% - 250px);
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 20px;
    position: fixed;
    z-index: 1000;
}

.cta-btn {
    background-color: black;
    color: white;
    border: 1px solid white;
    border-radius: 20px;
    padding: 8px 30px;
    font-weight: bold;
}

/* Stile Home*/
.home{
    width: calc(100vw - 250px);
    background-color: #141922;
    overflow-y: scroll;
}

.link{
    padding-top: 15px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

a{
    margin-right: 20px;
    color: gray;
    font-weight: bold;
    text-decoration: none;
    font-size: 13px;
}

.flex-a{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.border{
    border-bottom: 2px solid #b5ff2f;
    width: 30px;
}


.music{
    padding-top: 80px;
}

.container-music{
    padding-left: 15px;
    margin-top: 30px;
    color: white;
}

.container-music h1{
    font-size: 30px;
}

.row{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 40px;
    margin-top: 30px;
}

.col{
    text-align: center;
    width:calc((100%/6) - 20px);
    
}

.hover-img {
    position: relative;
    width: 100%;
    cursor: pointer;
}

.hover-img img {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

.hover-img .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
}

.hover-img .play-icon {
    font-size: 60px;
}

.col h2{
    font-size: 18px;
    margin-bottom: 5px;
}

.col span ,.container-music>span{
    font-size: 13px;
    color: gray;
    font-weight: bold;
    display: block;
    margin-top: 10px;
}



#youg, #einaudi, #popular .overlay{
    border-radius: 150px;
}

/* Hover */

/* hover img */
.col:hover .overlay {
    opacity: 1;
}

.cta-btn:hover{
    transform: scale(1.1);
}

li span:hover,
.down-navbar span:hover,
.home a:hover,
.fa-heart:hover,
.fa-folder:hover, .title span:hover{
  color: white;
  cursor: pointer;
}

li.white:hover i {
  background-color: white;
}


li.white:hover span {
  color: white;
}

.title span:hover{
    border-bottom: 1px solid;
}

.player-controls i, .icon i, .progress-bar, .volume-bar{
    cursor: pointer;
}

.player-controls .fa-circle-play:hover{
    transform: scale(1.1);
}

.progress-fill:hover, .volume-fill:hover, .progress-bar:hover .progress-fill, .volume-bar:hover .volume-fill {
    background-color: #b5ff2f;
    cursor: pointer;
}

.progress-bar:hover .progress-fill::after {
    opacity: 1;
}


.volume-bar:hover .volume-fill::after {
    opacity: 1;
}

/* tablet version (md) */
@media screen and (max-width:1000px) {
    /*home*/
    .col{
    width:calc((100%/4) - 20px);
    }
    
    

}

/* s version */
@media screen and (min-width: 581px) and (max-width: 800px){
    /*home*/
    .col{
    width:calc((100%/2) - 20px);
    }


}

/* mobile version (xs)*/
@media screen and (max-width:580px) {
    /*navbar*/
    ul span,b, .playlist i,hr, .down-navbar span,#logo{
        display: none;
    }

    #logo-small{
        display: block;
        width: 20px;
        margin-bottom: 10px;
    }

    .navbar{
        width: 40px;
    }

    #download{
        margin-bottom: 20px;
    }
    
    /*Cta*/
    .cta{
    width: calc(100% - 40px);
    }
    
    /*home*/
    .home{
    width: calc(100vw - 40px);
    background-color: #141922;
    }

    .col{
    width:calc((100%/2) - 15px);
    }

}


/* Stile footer*/
.container-footer{
    height: 100px;
    background-color: #282828;
    display: flex;
    justify-content: space-between;
   
}

.song{
    width: 250px;
    height: 100px;
    display: flex;
    align-items: center;
    padding: 0 10px;
    flex-shrink: 0;
}

.song img{
    width: 25%;
    
}

.title{
    font-size: 10px;
    font-weight: bold;
    margin-right: 40px;
    margin-left: 10px;
}

.title h3{
    color: white;
    font-size: 15px;
}

.title span{
    color: gray;
    font-size: 10px;
}

.icon{
    display: flex;
    gap: 20px;
    font-size: 18px;
}

.song i{
    color: gray;
}


.timer{
    width: 40%;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    color: white;
}

.player-controls {
    display: flex;
    gap: 20px;
    font-size: 20px;
    align-items: center;
    height: 35px;
}

.play-icon {
    font-size: 30px;
}

.container-progress{
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.container-progress span {
    font-size: 10px;
    color: white;
}

.progress-bar {
    flex: 1;
    height: 5px;
    background-color: #555;
    border-radius: 3px;
    position: relative;
}

.progress-fill {
    width: 20%;
    height: 5px;
    background-color: white;
    border-radius: 3px;
}

.progress-fill::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-40%, -50%);
    width: 12px;
    height: 12px;
    background-color: white;
    border-radius: 50%;
    opacity: 0;
}


.volume{
    width: 250px;
    height: 100px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.volume i{
    color: white;
}

.volume-bar {
    height: 5px;
    background-color: gray;
    border-radius: 3px;
    margin-left: 10px;
    flex: 1;
    position: relative;
}

.volume-fill {
    width: 30%;
    height: 5px;
    background-color: white;
    border-radius: 3px;
}

.volume-fill::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-40%, -50%);
    width: 12px;
    height: 12px;
    background-color: white;
    border-radius: 50%;
    opacity: 0;
}


/* tablet version (md) */
@media screen and (max-width:1000px) {
    
}

/* s version */
@media screen and (min-width: 581px) and (max-width: 800px){
 
}

/* mobile version (xs)*/
@media screen and (max-width:580px){
    .song{
    width: 200px;
    }

    .title{
    margin-right: 10px;
    }

    .icon{
    gap: 10px;
    }

    .song img{
        width: 50%;
    }
}


@media screen and (max-width:500px){
    .song img{
        display: none;
    }

    .song{
        flex: 1 1 auto;
    }
}