/* Stile generale*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family:  'Montserrat', sans-serif;
    background-color: red;
    font-size: 15px;
}

/* Stile main*/
.conatiner-main{
    height: calc(100vh - 100px);
    background-color: aqua;
    display: flex;
    
}
/* Stile navbar */
.navbar{
    width: 250px;
    background-color: black;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: gray;
}

#logo{
    width: 60%;
    margin-bottom: 20px;
}

#logo-small{
    display: none;
}

ul{
    list-style-type: none;
}

#menu li{
    display: flex;
    align-items: center;
    gap: 5px;
}

li{
    margin-bottom: 15px; 
}

#playlist i{
    background-color: gray;
    color: black;
    font-size: 30px;
}

ul img{
    width: 20px;
}

.down-navbar{
    display: flex;
    flex-direction: column;
}

.down-navbar div {
    display: flex;
    align-items: center;
    gap: 10px;
    
}

hr{
    margin: 15px 0;
}

#download{
    width: 20px;
}

#profile{
    width: 30px;
    background-color: gray;
    border-radius: 20px;
}

b, #white{
    color: white;
}
/* Stile Cta*/
.cta {
    height: 80px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 20px;
    position: sticky;
    z-index: 999;
    
}

.cta-btn {
    background-color: black;
    color: white;
    border: 1px solid white;
    border-radius: 20px;
    padding: 8px 30px;
    font-weight: bold;
}

/* Stile Home*/
.home{
    width: calc(100vw - 250px);
    background-color: green;
}

/* tablet version */


/* mobile version */
@media screen and (max-width:552px) {
    /*navbar*/
    ul span,b, #playlist i,hr, .down-navbar span,#logo{
        display: none;
    }

    #logo-small{
        display: block;
        width: 20px;
        margin-bottom: 10px;
    }

    .navbar{
        width: 40px;
    }

    #download{
        margin-bottom: 20px;
    }


    /*home*/
    .home{
    width: calc(100vw - 40px);
    background-color: green;
    }



}


/* Stile footer*/
.conatiner-footer{
    height: 100px;
    background-color: blue;
    display: flex;
    justify-content: space-between;
}

.song{
    background-color: gray;
    width: 15%;
    height: 90px;
}

.timer{
    background-color: gray;
    width: 40%;
    height: 90px;
}

.volume{
    background-color: gray;
    width: 15%;
    height: 90px;
}

